<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="showauthor/html; charset=utf-8"/>
        <title>{{author_name}}</title>
    </head>
    <body>
{% if book_list %}
{% for bb in book_list %}
    {% for b in bb %}
        {%url "showbook" b.ISBN as detail_url %}
        <li><a href="{{detail_url}}">{{b.Title}}</a></li>
{% endfor %}
{% endfor %}
{% endif %}
    </body>
</html>